/* Dasboard */

/* Dashboard Main */
.product-content {
    position: relative;
    margin-top: 100px;
}

.dashboard-tabs {
    width: 100%;
}

.dashboard-tabs .tab-item{
    width: 100%;
    border: 2px solid #dee2e6;
    border-radius: 3px;
    margin-bottom: 15px;
    padding: 8px 16px;
    cursor: pointer;
    position: relative;
    transition: all 300ms ease-in-out;
}

.dashboard-tabs .tab-item a{
    color: var(--black);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;
    transition: all 300ms ease-in-out;
}

.dashboard-tabs .tab-item:hover a{
    color: var(--customColor);
    transition: all 300ms ease-in-out;
}

.dashboard-tabs-content .tab-check {
    display: none;
}

.dashboard-tabs-content .tab-check.active {
    display: block;
    animation: tabsview 1s ease;
}

@keyframes tabsview {
    from {
        opacity: 0;
        height: 0%;
    }
    to {
        opacity: 1;
        height: 100%;
    }
}
.dashboard-tabs .tab-item.active{
    border: 2px solid var(--customColor);
    transition: all 300ms ease-in-out;
}

.dashboard-tabs .tab-item.active a{
    color: var(--customColor);
    transition: all 300ms ease-in-out;
}

/* Dashboard tabs-content */

/* 1 */
.dashboard-tabs-content {
    width: 100%;
    display: block;
}

.profile-content {
    display: block;
}

.title-content h2{
    color: var(--border-white);
    font-size: 16px;
    font-weight: 600;
}

.title-content p{
    color: var(--border-white);
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}

.form-row {
    margin-left: 1px;
}

.form-gr {
    margin-bottom: 16px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.form-gr .form-edit{
    width: 100%;
    padding: 6px 12px;
    border-radius: 3px;
    border: 1px solid var(--border-black) !important;
    background: var(--light-white);
    color: var(--black);
    font-size: 14px;
    letter-spacing: 1px;
}

.select-ctrl {
    position: relative !important;
}

.select-ctrl::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f107";
    position: absolute;
    color: var(--black);
    bottom: 8px;
    right: 20px;
    z-index: 1;
    font-size: 12px;
}

.btn-form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn-form .btn-form-edit {
    border-radius: 3px !important;

}

/* 2 */

/* View */
.orders-table{
    background-color: var(--light-white);
    align-items: center;
    border: 2px solid #dee2e6 !important;
    border-color: var(--border-white);
    margin-bottom: 30px;
    width: 100%;
}

.orders-table tbody tr td {
    padding: 12px;
    text-align: center;
    font-size: 14px;
    color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
}

.orders-table tbody tr td .btn-orders{
    font-size: 14px;
    font-weight: 600;
    color: var(--black);
    transition: all 300ms ease-in-out;
}

.btn:focus {
    outline: 0;
    box-shadow: none !important;
}

.orders-table tbody tr td .btn-orders:hover{
    color: var(--customColor);
    transition: all 300ms ease-in-out;
}

.pro-table tbody tr td {
    padding: 12px !important;
    font-size: 20px !important;
    font-weight: 700 !important;
}

.pro-table tbody tr td span{
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 500;
}

.pro-table tbody tr td h3{
    margin-left: 0 !important;
    color: var(--black);
}

.pro-table tbody tr td .input-pro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 44px;
}

.pro-table tbody tr td .input-pro input{
    font-size: 15px;
    font-weight: 800;
    width: 100%;
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
    background-color: var(--orders-white);
    color: var(--black);
    text-align: center;
    border: none;
    box-shadow: none;
    border-radius: 0;
}

.pro-table tbody tr{
    margin-bottom: 30px;
    border: 2px solid var(--border-black);
    width: 100%;
    height: 100%;
    align-items: center;
    background: var(--light-white);
}

/* Detail view */
.card-orders {
    padding: 20px;
    margin-bottom: 30px;
    background: var(--orders-white);
    display: none;
}

.card-orders tbody tr .pending span{
    background: var(--black);
    color: var(--white);
    padding: 0 4px;
}

/* Content Finally */
.content-finally{
    margin-bottom: 15px;
}

.content-finally h3 {
    margin-left: 0 !important;
}

.content-finally p {
    color: var(--black);
}

.card-orders.active {
    display: block;
    animation: fade 1s ease;
}

@keyframes fade {
    from {
        opacity: 0;
        height: 50%;
    }
    to {
        opacity: 1;
        height: 100%;
    }
}
/* 3 */
.table-content {
    width: 100%;
    margin-bottom: 16px;
}

.title-content h3 {
    margin-bottom: 15px;
    color: var(--border-white);
}

.table-content thead th ,.table-content tbody tr td{
    padding: 12px 12px 12px 0;
    vertical-align: top;
}

.table-content thead .table-right-edit h2, .table-content tbody .table-right-edit{
    text-align: right;
}

.form-check {
    position: relative;
    padding-left: 20px;
    display: block;
}

.form-check .checkbox-form{
    position: absolute;
    margin-left: -18px;
    margin-top: 4px;
    display: block;
}

.table-content tbody tr td p{
    margin-bottom: 0;
    margin-left: 5px;
}

.ul-table-edit {
    display: flex;
    justify-content: flex-end;
}

.ul-table-edit li{
    margin-right: 15px;
}

.ul-table-edit li:last-child{
    margin-right: 0px;
}

.ul-table-edit li a{
    color: var(--black);
    transition: all 300ms ease-in-out;
}

.ul-table-edit li a:hover{
    color: var(--customColor);
    transition: all 300ms ease-in-out;
}

.card-orders h3 {
    color: var(--border-white);
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    margin-left: 20px;
    margin-bottom: 15px;
}

.card-orders table {
    margin-bottom: 30px;
    width: 100%;
}

.card-orders table tbody tr td{
    font-size: 13px;
    letter-spacing: 1px;
    padding: 12px 12px 12px 20px;
    color: var(--border-white);
    background: var(--light-white);
    vertical-align: middle;
}

.card-orders table tbody tr .td-center{
    text-align: -webkit-center;
}

@media only screen and (max-width: 767px){
    .orders-table tbody tr {
        flex-direction: column;
    }
    
    .pro-table tbody tr{        
        flex-direction: column;
        text-align: center;
    }
}
