/* Product-page Main*/

/* SLIDE BANNER ZOOM */
.swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.mySwiper2 {
    height: 80%;
    width: 100%;
}

.mySwiperZoom {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.mySwiperZoom .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.mySwiperZoom .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* edit slide Zoom */
.slide-zoom {
    height: 100%;
    width: 100%;
}

.mySwiper2 {
    width: 100% !important;
    height: 570px !important;
}
.mySwiperZoom {
    margin-top: 30px;
    width: 100%;
    height: 140px !important;
}

.mySwiperZoom .swiper-wrapper .swiper-slide {
    width: 170px !important;
    height: 140px !important;
}

/* Zoom Banner */
.zoomArea {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.zoomArea > image {
    width: 100%;
    height: 100%;
}

#NZoomImg1,#NZoomImg2,#NZoomImg3,#NZoomImg4,#NZoomImg5 {
    width: 100%;
    height: 100%;
    display: block;
}

/* button slide foods (productPage product #1) */
.productPage-button-controls {
    position: absolute;
    right: 15px;
}

.productPage-button-controls a {
    transition: all 0.2s ease-in-out;
    color: var(--black);
    opacity: 0.7;
    font-size: 34px;
    border-bottom: none;
    z-index: 5;
}

.productPage-button-controls a:hover {
    transition: all 0.2s ease-in-out;
    color: var(--black);
    opacity: 1;
}

.productPage-button-controls a:first-child {
    margin-right: 10px;
}

@media only screen and (max-width: 991px) {
    .mySwiper2 {
        width: 100% !important;
        height: 100% !important;
    }
 
    .mySwiperZoom .swiper-wrapper .swiper-slide {
        width: auto !important;
        height: auto !important;
    }

}

@media only screen and (max-width: 425px) {
    .mySwiperZoom {
        margin-top: 30px;
        width: 100%;
        height: 100px !important;
    }
}

/* CONTENT PRODUCT-PAGE RIGHT */
.productPage-content h3{
    font-size: 31px;
    font-weight: 700;
    color: var(--border-white);
}

.productPage-content .pro-info,.productPage-content .pro-info .pro-single-info a,.productPage-content .pro-info .pro-single-info ul li a{
    color: var(--border-white);
    font-size: 14px;
    letter-spacing: 1px;
}

.pro-options .colorText-proPage p {
    color: var(--border-white);
    font-weight: 600;
    margin-right: 3px;
}

.pro-button {
    margin-bottom: 15px;
}

.btn-productPage {
    border: 1px solid var(--border-black) !important;
    color: var(--black);
    letter-spacing: 1px;
    margin-right: 5px;
    margin-bottom: 5px;
    transition: all 300ms ease-in-out;
}

.btn-productPage:hover {
    color: var(--customColor);
    transition: all 300ms ease-in-out;
}

.pay-checkout {
    position: relative;
    padding-left: 24px;
    margin-bottom: 8px;
}

.pay-checkout .custom-input {
    position: absolute;
    left: 0;
    width: 16px;
    height: 18px;
    margin-top: 3px;
}

.pro-share {
    display: flex;
}

.pro-icon-share {
    position: relative;
    width: 32px;
    height: 32px;
    background: #0166FF;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    transition: all 300ms ease-in-out;
}

.pro-icon-share:hover {
    background-color: #84C1EF;
    transition: all 300ms ease-in-out;
}

.pro-icon-share:last-child {
    margin-right: 0;
}

.pro-icon-share a {
    color: white;
    font-size: 21px;
}

@media only screen and (max-width: 991px) {
    .slide-zoom {
        margin-bottom: 30px;
    }
}


/* List share (+) */
.pro-icon-share .list-share {
    position: absolute;
    top: 100%;
    left: 0;
    width: 300px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid #CCC;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease;
    z-index: 10;
} 

.pro-icon-share:hover .list-share {
    visibility: visible;
    opacity: 1;
    transition: all 0.2s ease;
} 

.list-share .item-share {
    display: block;
    float: left;
    border: 1px solid #FFF;
    border-radius: 3px;
    line-height: 24px;
    padding: 6px 8px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 149px;
    max-width: 100%;
    font-size: 16px;
    color: #0166FF;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.item-share i {
    font-size: 26px;
    margin-right: 6px;
    width: 24px;
    height: 24px;
}

.list-share .item-share:hover {
    background: #eee;
    border-color: #eee;
    transition: all 200ms ease-in-out;
    color: #000;
}

.addview {
    width: 100% !important;
    display: flex;
    justify-content: center !important;
    align-items: center;
}

.addview i {
    color: #0166FF;
}

@media only screen and (max-width: 325px) {
    .pro-icon-share .list-share {
        left: -30px;
    } 
    
    .list-share .item-share {
        width: 149px;
    }
}


/* View share onclick="viewShare(viewshare)" */
.menu-all-share {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    opacity: 0;
    z-index: 999999999;
    visibility: hidden;
    transition: all 0.2s ease;
}

.menu-all-share.active {
    opacity: 1;
    visibility: visible;
    transition: all 0.2s ease;
}

.menu-all-share .share-close {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background: #616c7d;
    opacity: .92;
}

.menu-all-share .share-listAll {
    position: fixed;
    width: 640px;
    height: 320px;
    top: 15%;
    left: 50%;
    transform: translate(-50%,0);
    background: #fff;
    border-radius: 6px;
    border: 1px solid #fff;
}

.listAll {
    padding: 12px !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.listAll-search {
    border: 1px solid #CCC;
    border-radius: 6px;
    padding: 2px 24px 2px 0;
    position: relative;
    text-align: left;
}

.listAll-search input {
    background-color: transparent;
    border: 0;
    box-sizing: content-box;
    color: #2A2A2A;
    font-size: 16px;
    height: 28px;
    line-height: 20px;
    left: 38px;
    margin: 0;
    max-width: initial;
    padding: 2px 0;
    position: relative;
    width: 96%;
}

.listAll-search i {
    width: 24px;
    height: 24px;
    position: absolute;
    top: 7px;
    left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #CCC;
}

.listAll-edit-list {
    overflow-y: scroll;
    height: 218px;
}

.listAll-edit-list .list-share .item-share{
    width: calc(35.8% - 18px);
    display: inline-block;
}

@media (max-width: 639px) {
    .menu-all-share .share-listAll {
        width: 100%;
    }
    
}
@media (min-width: 318px) and (max-width: 437px) {
    .listAll-edit-list .list-share .item-share{
        width: calc(55% - 18px);
    }
}

/* Product-page Table */
.page-content-pro {
    padding: 45px 0 !important;
}

.product-content {
    position: relative;
    margin-top: 100px;
}

.productPage-tabs {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.productPage-tabs .tab-item{
    border: 0px solid var(--border-black);
    border-radius: 3px;
    margin-bottom: 15px;
    padding: 8px 16px;
    cursor: pointer;
    position: relative;
    transition: all 200ms ease-in-out;
}

.productPage-tabs .tab-item a{
    color: var(--black);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all 300ms ease-in-out;
}

.productPage-tabs .tab-item:hover a{
    color: var(--customColor);
    transition: all 300ms ease-in-out;
}

.productPage-tabs-content {
    border: 2px solid var(--border-black);
    padding: 15px;
}

.productPage-tabs-content .tab-check {
    display: none;
}

.productPage-tabs-content .tab-check.active {
    display: block;
    animation: tabsview 1s ease;
}

@keyframes tabsview {
    from {
        opacity: 0;
        height: 0%;
    }
    to {
        opacity: 1;
        height: 100%;
    }
}
.productPage-tabs .tab-item.active{
    border: 2px solid var(--border-black);
    transition: all 300ms ease-in-out;
}

.productPage-tabs .tab-item.active a{
    color: var(--customColor);
    transition: all 300ms ease-in-out;
}

@media only screen and (max-width: 767px) {
    .productPage-tabs .tab-item a{
        font-size: 13px;
        text-align: center;
        letter-spacing: 0p;
    }
}

@media only screen and (max-width: 576px) {
    .productPage-tabs .tab-item{
        width: 35.33%;
        border-radius: 3px;
        margin-bottom: 15px;
        padding: 3px 1px;
        text-align: center;
        cursor: pointer;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 200ms ease-in-out;
    }

}
/* Dashboard tabs-content */

/* 1 */
.productPage-tabs-content {
    width: 100%;
    display: block;
}

.profile-content {
    display: block;
}

.profile-content p{
    margin-bottom: 1rem;
    color: var(--border-white);
    font-size: 14px;
    letter-spacing: 1px;
}

.profile-content ul{
    list-style-type: disc;
    padding-left: 17px;
}

.profile-content ul li{
    list-style-type: disc;
    color: var(--border-white);
    font-size: 14px;
    letter-spacing: 1px;
}

.title-content h2{
    color: var(--border-white);
    font-size: 16px;
    font-weight: 600;
}

.title-content p{
    color: var(--border-white);
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}

.form-row {
    margin-left: 1px;
}

.form-gr {
    margin-bottom: 16px;
    position: relative;
    display: block;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.form-gr .form-edit{
    width: 100%;
    padding: 6px 12px;
    border-radius: 3px;
    border: 1px solid var(--border-black) !important;
    background: var(--light-white);
    color: var(--black);
    font-size: 14px;
    letter-spacing: 1px;
}

.select-ctrl {
    position: relative !important;
}

.select-ctrl::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f107";
    position: absolute;
    color: var(--black);
    bottom: 8px;
    right: 20px;
    z-index: 1;
    font-size: 12px;
}

.btn-form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.btn-form .btn-form-edit {
    border-radius: 3px !important;

}

/* 2 */

.table-productPage {
    width: 100%;
}

.table-productPage th, .table-productPage td{
    padding: 12px;
    color: var(--border-white);
    vertical-align: top;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: left;
}

.table-productPage tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
    transition: all 300ms;
}

/* 3 */

.title-productPage h2 {
    font-size: 32px;
    color: var(--border-white);
    font-weight: 700;
}

.title-productPage h4 {
    font-size: 21px;
    color: var(--border-white);
    font-weight: 700;
}

.title-productPage p {
    font-size: 14px;
    color: var(--border-white);
    letter-spacing: 1px;
}

@media only screen and (max-width: 576px) {
    .title-productPage h2 {
        font-size: 24px;
    }
}
.form-icons {
    margin-bottom: 15px;
}
.form-icons .fas {
    color: var(--customColor);
    transition: all 300ms ease-in-out;
}

.valuer {
    color: var(--border-white);
    font-size: 14px;
    letter-spacing: 1px;
}

.valuer span {
    margin-bottom: 0;
}

textarea.form-control-productPage {
    margin-left: 3px;
    padding: 6px 12px;
    width: 100%;
    height: 42px;
    border: 2px solid var(--border-black);
    border-radius: 3px;
    background: var(--light-white);
    color: var(--black);
    margin-bottom: 15px;
}

.form-control-productPage:focus {
    border: 2px solid var(--border-black) !important;
    background: var(--light-white);
    color: var(--black);
}


/* Related Product */
.mg-title {
    margin-bottom: 60px;
}

.product article {
    display: inline-block;
    width: 100%;
    padding: 0;
}
.product article .pro-thumb {
    position: relative;
}
.product article .pro-thumb .img-fluid {
    width: 100%;
}
.product article .pro-thumb .badges {
    position: absolute;
    left: 14px;
    top: 14px;
}
.product article .pro-thumb .badges .badge {
    display: inline-block;
    margin-bottom: 14px;
    margin-right: 5px;
}
.product article .pro-thumb .badges .badge:last-child {
    margin-bottom: 0;
    margin-right: 0;
}
.product article .pro-hover-icons {
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    /* top:65%; */
    width: 100%;
    overflow: hidden;
    z-index: 2;
    -webkit-transition: 1.2s ease-out;
    transition: 1.2s ease-out;
    transform: translateY(40px);
    -webkit-transform: translateY(40px);
}
.product:hover .pro-hover-icons {
    overflow: hidden;
    opacity: 1;
    transition-timing-function: ease-in;
    /* A litttttle slower on the way in */
    transition: 0.4s;
    /* Move into place */
    transform: translateY(0);
    -webkit-transform: translateY(0);
 }
.product article .pro-hover-icons .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-bottom: 14px;
}
.product article .pro-hover-icons .icons .icon {
    outline: none;
    border: none;
    position: relative;
    border-radius: 200px;
    display: flex;
    width: 40px;
    height: 40px;
    margin: 7px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 0 0 3px 0px rgb(59 59 59 / 10%);
    transition-duration: 0.3s;
}

.editButton{
    width: 30px;
    height: 30px;
    background: var(--customColor);
}

/* end img and icons */
.product {
    width: 100%;
}
.product article .pro-info-productPage {
    margin-top: 15px;
    margin-bottom: 0px;
}

.product article .pro-info-productPage h3 a{
    font-family: "Poppins-Bold", sans-serif;
    color: var(--border-white);
    font-size: 17px;
    letter-spacing: 1px;
    text-align: start;
    display: flex;
    font-weight: 800;
    transition: all 300ms ease-in-out;
}

.product article .pro-info-productPage h3:hover a {
    color: var(--customColor);
    transition: all 300ms ease-in-out;
}

.product article .pro-info-productPage .pro-category {
    font-family: "Poppins-Regular", sans-serif;
    color:#6c757d;
    text-transform: uppercase;
    line-height: 1.5;
    text-align: start;
    display: flex;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.4rem;
}

.product article .pro-info-productPage .pro-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.product article .pro-info-productPage .pro-price ins {
    font-family: "Poppins-Bold", sans-serif;
    font-size: 2.4rem;
    color: var(--customColor);
    text-decoration: none;
}
.product article .pro-info-productPage .pro-price del {
    font-size: 1.45rem;
    color: var(--border-white);
    text-decoration: line-through;
    margin-left: 10px;
}
.product article .pro-info-productPage .pro-price .icon {
    outline: none;
    border: none;
    position: relative;
    border-radius: 200px;
    display: flex;
    width: 40px;
    height: 40px;
    margin: 0px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 0 0 3px 0px rgb(59 59 59 / 10%);
    transition-duration: 0.3s;
}

.btn-light {
    background: var(--border-black);
    color: var(--black);
}

.btn-light i{
    font-size: 12px;
}

.btn-light:hover {
    background-color: var(--border-white);
    border-color: var(--border-white);
    color: var(--light-white);
}
/* butom màu */
.product article .pro-options {
    margin-top: 10px;
}
.product article .pro-options .color-option ul li:first-child, .product article .pro-options .size-option ul li:first-child {
    margin-left: 5px;
}
/* màu xanh vs đỏ nằm trong buttom icon eye */
.pro-options .color-option ul li a.yellow {
    background-color: #d4af37;
}
.product article .pro-options div:last-child {
    margin-bottom: 5px;
}
.pro-options .size-option ul {
    display: inline-block;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 0;
}
.pro-options .size-option ul li {
    display: inline-block;
    list-style: none;
    margin: 0 5px 5px 5px;
}
.pro-options .size-option ul li a.size-select {
    border: 1px solid #dee2e6;
    color: var(--border-white);
}

/* Button pagination */
.swiper-pagination-bullets.swiper-pagination-horizontal {
    width: auto;
    left: 50%;
    bottom: -6px;
}

.swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    background: var(--white);
    border: 2px solid var(--customColor);
    opacity: 1;
    transition: all 300ms ease-in-out;
}

.swiper-pagination-bullet-active {
    background: var(--customColor);
    border: 2px solid var(--customColor);
    transition: all 300ms ease-in-out;
}
